INFO6105 Data Science Engineering and Tools

Vidhi Patel
NUID: 002762999
HW2

1. Convert the list of 26 letters of the alphabet to the index of the Dataframe, and assign 26 random integer numbers and print out the first 5 rows.

In [1]:
import pandas as pd
import numpy as np

In [2]:
alphabet = list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
df = pd.DataFrame(index=alphabet)

df['integer'] = np.random.randint(1, 100, size=len(alphabet))

print(df.head())

   integer
A       52
B       49
C       70
D       79
E       76

2. Construct the following DataFrame and print it out. Use "iloc" to convert the first column of this DataFrame as a Series.

In [3]:
data = {
    'class 1': [1,2,3,4,7,11], 
    'class 2': [4,5,6,9,5,0],
    'class 3': [7,5,8,12,1,11]
}

df = pd.DataFrame(data)
print("DataFrame: ")
print(df)

series = df.iloc[:, 0]
print("\nSeries from first column:")
print(series)

DataFrame:
   class 1  class 2  class 3
0        1        4        7
1        2        5        5
2        3        6        8
3        4        9       12
4        7        5        1
5       11        0       11

Series from first column:
0     1
1     2
2     3
3     4
4     7
5    11
Name: class 1, dtype: int64

3. Work on the above data (question 2), implement the following tasks using indexers loc and/or iloc:   
    (1) Select all columns, except one given column 'class3', and print out the result.

    (2) Remove first 3 rows of the DataFrame and print it out.

    (3) Remove last 3 rows of the DataFrame and print it out.

In [4]:
data = {
    'class1': [1, 2, 3, 4, 7, 11],
    'class2': [4, 5, 6, 9, 5, 0],
    'class3': [7, 5, 8, 12, 1, 11]
}

df = pd.DataFrame(data)

task_1 = df.loc[:, df.columns != 'class3']
print("\nTask 1: Select all columns, except 'class3'")
print(task_1)

Task 1: Select all columns, except 'class3'
   class1  class2
0       1       4
1       2       5
2       3       6
3       4       9
4       7       5
5      11       0

In [5]:
task_2 = df.iloc[3:]
print("\nTask 2: Remove first 3 rows of the DataFrame")
print(task_2)

Task 2: Remove first 3 rows of the DataFrame
   class1  class2  class3
3       4       9      12
4       7       5       1
5      11       0      11

In [6]:
task_3 = df.iloc[:-3]
print("\nTask 3: Remove last 3 rows of the DataFrame")
print(task_3)

Task 3: Remove last 3 rows of the DataFrame
   class1  class2  class3
0       1       4       7
1       2       5       5
2       3       6       8

4. Use Pandas MultiIndex method(s) to create a multi-indexing DataFrame as below:

Note: you should use random number generators to mock some reasonable data such as HR (Heart Rate) and Temp (Body Temperature).
    (1) Get all the information of Julia.    
    (2) Get Juila's heart rate data.          
    (3) Get Bob’s all information in 2018.

In [7]:
np.random.seed(42)
arrays = [
    ['Bob', 'Bob', 'Julia', 'Julia', 'Sue', 'Sue'],
    ['HR', 'Temp', 'HR', 'Temp', 'HR', 'Temp']
]

columns = pd.MultiIndex.from_arrays(arrays, names=('subject', 'type'))

index = pd.MultiIndex.from_product([[2018, 2019], [1, 2]], names=['year', 'visit'])

data = np.random.rand(4, 6) * 20 + 20 
df = pd.DataFrame(data, index=index, columns=columns)
print(df)

subject           Bob                 Julia                   Sue
type               HR       Temp         HR       Temp         HR       Temp
year visit
2018 1      27.490802  39.014286  34.639879  31.973170  23.120373  23.119890
     2      21.161672  37.323523  32.022300  34.161452  20.411690  39.398197
2019 1      36.648853  24.246782  23.636499  23.668090  26.084845  30.495129
     2      28.638900  25.824583  32.237058  22.789877  25.842893  27.327237

In [8]:
task_1 = df.loc[:, ('Julia', slice(None))]
print("\nTask 1: Get all information of Julia")
print(task_1)

Task 1: Get all information of Julia
subject         Julia
type               HR       Temp
year visit
2018 1      34.639879  31.973170
     2      32.022300  34.161452
2019 1      23.636499  23.668090
     2      32.237058  22.789877

In [9]:
task_2 = df.loc[:, ('Julia', 'HR')]
print("\nTask 2: Get Julia's heart rate data")
print(task_2)

Task 2: Get Julia's heart rate data
year  visit
2018  1        34.639879
      2        32.022300
2019  1        23.636499
      2        32.237058
Name: (Julia, HR), dtype: float64

In [10]:
task_3 = df.loc[(2018, slice(None)), ('Bob', slice(None))]
print("\nTask 3: Get Bob’s all information in 2018")
print(task_3)

Task 3: Get Bob’s all information in 2018
subject           Bob
type               HR       Temp
year visit
2018 1      27.490802  39.014286
     2      21.161672  37.323523

5. (1) Create a DataFrame df: the name of 4 columns is pqrs respectively, the name of 10 indexes is abcdefghij respectively. The values are randomly distributed in [1,100) and the seed is set as 42.

    (2) Create a new column such that, each row of this df contains the row number of nearest row-record by Euclidean distance.

In [11]:
from scipy.spatial.distance import cdist
np.random.seed(42)
df = pd.DataFrame(np.random.randint(1, 100, size=(10, 4)), index=list("abcdefghij"), columns = list('pqrs'))
print("(1): ")
print(df)

distances = cdist(df.values, df.values)
nearest_row = np.argpartition(distances, kth=1, axis=1)[:, 1]
df['Nearest Row'] = df.index[nearest_row]

print("\n (2): ")
print(df)

(1):
    p   q   r   s
a  52  93  15  72
b  61  21  83  87
c  75  75  88  24
d   3  22  53   2
e  88  30  38   2
f  64  60  21  33
g  76  58  22  89
h  49  91  59  42
i  92  60  80  15
j  62  62  47  62

 (2):
    p   q   r   s Nearest Row
a  52  93  15  72           g
b  61  21  83  87           j
c  75  75  88  24           i
d   3  22  53   2           f
e  88  30  38   2           f
f  64  60  21  33           j
g  76  58  22  89           j
h  49  91  59  42           j
i  92  60  80  15           c
j  62  62  47  62           f

6. Create a Dataframe with rows as strides from a given series: L = pd.Series(range(15))

In [12]:
L = pd.Series(range(15))

stride_length = 4
strides = [L[i:i+stride_length].values for i in range(0, len(L) - stride_length + 1, 2)]
df = pd.DataFrame(strides)

print(df)

    0   1   2   3
0   0   1   2   3
1   2   3   4   5
2   4   5   6   7
3   6   7   8   9
4   8   9  10  11
5  10  11  12  13

7. 
    (1) Create a DataFrame, the name of columns is abcde respectively, the values ranges [0,20)

    (2) Interchange columns 'a' and 'c'

    (3) Create a generic function to interchange arbitrary two columns

    (4) Sort the columns in reverse alphabetical order, that is column 'e' first through column 'a' last.

In [13]:
df = pd.DataFrame(np.random.randint(0, 20, size=(5, 5)), columns=['a', 'b', 'c', 'd', 'e'])

print("(1) : ")
print(df)

df[['a', 'c']] = df[['c', 'a']]
print("\n(2): ")
print(df)

def interchange_col(df, col1, col2):
    df[col1], df[col2] = df[col2].copy(), df[col1].copy()
interchange_col(df, 'b', 'd')
print("\n(3): ")
print(df)

df = df.sort_index(axis=1, ascending=False)
print("\n(4): ")
print(df)

(1) :
    a   b   c   d   e
0  18  11  19   2   4
1  18   6   8   6  17
2   3  13  17   8   1
3  19  14   6  11   7
4  14   2  13  16   3

(2):
    a   b   c   d   e
0  19  11  18   2   4
1   8   6  18   6  17
2  17  13   3   8   1
3   6  14  19  11   7
4  13   2  14  16   3

(3):
    a   b   c   d   e
0  19   2  18  11   4
1   8   6  18   6  17
2  17   8   3  13   1
3   6  11  19  14   7
4  13  16  14   2   3

(4):
    e   d   c   b   a
0   4  11  18   2  19
1  17   6  18   6   8
2   1  13   3   8  17
3   7  14  19  11   6
4   3   2  14  16  13

8. Create a TimeSeries starting ‘2021-01-01’ and 10 weekends (Saturdays) after that having random numbers as values.

In [14]:
date_range = pd.date_range(start='2021-01-01', periods=10, freq='W-SAT')

data = np.random.randint(1, 100, size=(10,))
time_series = pd.Series(data, index=date_range)

# Display the TimeSeries
print(time_series)

2021-01-02    50
2021-01-09     4
2021-01-16     2
2021-01-23     6
2021-01-30    54
2021-02-06     4
2021-02-13    54
2021-02-20    93
2021-02-27    63
2021-03-06    18
Freq: W-SAT, dtype: int32

9. (1) Create a Pandas time series with missing dates (from 2021-01-01 to 2021-01-08) and values, shown as below: 

    (2) Make all missing dates appear and fill up with value from previous date, shown as below.

In [15]:
date_range = pd.date_range(start='2021-01-01', end='2021-01-08', freq='D')

time_series = pd.Series(index=date_range)

time_series['2021-01-01'] = 1.0
time_series['2021-01-03'] = 10.0
time_series['2021-01-06'] = 3.0
print(time_series)

time_filled = time_series.fillna(method='ffill')
print("\nFilled values: ") 
print(time_filled)

2021-01-01     1.0
2021-01-02     NaN
2021-01-03    10.0
2021-01-04     NaN
2021-01-05     NaN
2021-01-06     3.0
2021-01-07     NaN
2021-01-08     NaN
Freq: D, dtype: float64

Filled values:
2021-01-01     1.0
2021-01-02     1.0
2021-01-03    10.0
2021-01-04    10.0
2021-01-05    10.0
2021-01-06     3.0
2021-01-07     3.0
2021-01-08     3.0
Freq: D, dtype: float64

10. (1) Create a DataFrame ‘df’: the indexes are integer from 0 to 8 (9 rows); the columns are ‘fruit’, ‘taste’, ‘price’; the items of ‘fruit’ are: apple, banana, orange, respectively and repeating 3 times. The ‘taste’ ranges [0,1). The price is integer and ranges [1, 15). The seed of random values is set as 100.

    (2) Find the second largest value of 'taste' for 'banana' (Hint: you can use groupby) 
    
    (3) Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.

In [16]:
np.random.seed(100)

data = {
    'fruit': np.repeat(['apple', 'banana', 'orange'], 3),
    'taste': np.random.rand(9),
    'price': np.random.randint(1, 15, size=9)
}

df = pd.DataFrame(data, index=range(9))
print("(1) DataFrame: ")
print(df)

banana_taste = df[df['fruit'] == 'banana']['taste'].nlargest(2).iloc[-1]
print("\n(2) Second largest value of taste for banana: ", banana_taste)

mean_price = df.groupby('fruit')['price'].mean().reset_index()
print("\n(3) Mean price of every fruit: ")
print(mean_price)

(1) DataFrame:
    fruit     taste  price
0   apple  0.543405      9
1   apple  0.278369      5
2   apple  0.424518     12
3  banana  0.844776     13
4  banana  0.004719     11
5  banana  0.121569      1
6  orange  0.670749     12
7  orange  0.825853     10
8  orange  0.136707     14

(2) Second largest value of taste for banana:  0.12156912078311422

(3) Mean price of every fruit:
    fruit      price
0   apple   8.666667
1  banana   8.333333
2  orange  12.000000

11. (1) Create a df, for the values [0,100) with a seed 1, its shape is (8,10).

    (2) Create a new column with the name 'largest2nd', which has the second largest value of each row of df.

In [17]:
np.random.seed(1)
df = pd.DataFrame(np.random.randint(0, 100, size=(8,10)))
print("(1) df: ")
print(df)

df['largest2nd'] = df.apply(lambda row: row.nlargest(2).iloc[-1], axis=1)
print("\n(2) Second largest value of each row: ")
print(df)

(1) df:
    0   1   2   3   4   5   6   7   8   9
0  37  12  72   9  75   5  79  64  16   1
1  76  71   6  25  50  20  18  84  11  28
2  29  14  50  68  87  87  94  96  86  13
3   9   7  63  61  22  57   1   0  60  81
4   8  88  13  47  72  30  71   3  70  21
5  49  57   3  68  24  43  76  26  52  80
6  41  82  15  64  68  25  98  87   7  26
7  25  22   9  67  23  27  37  57  83  38

(2) Second largest value of each row:
    0   1   2   3   4   5   6   7   8   9  largest2nd
0  37  12  72   9  75   5  79  64  16   1          75
1  76  71   6  25  50  20  18  84  11  28          76
2  29  14  50  68  87  87  94  96  86  13          94
3   9   7  63  61  22  57   1   0  60  81          63
4   8  88  13  47  72  30  71   3  70  21          72
5  49  57   3  68  24  43  76  26  52  80          76
6  41  82  15  64  68  25  98  87   7  26          87
7  25  22   9  67  23  27  37  57  83  38          67

12.  For the same df created in Question 11-(1), use Pandas ufuncs to normalize all columns of df by subtracting the column mean and divide by standard deviation and keep the result within two decimal places.

In [18]:
np.random.seed(1)
df = pd.DataFrame(np.random.randint(0, 100, size=(8,10)))
normalized_df = (df - df.mean()) / df.std()

normalized_df = normalized_df.round(2)

print("\nNormalized DataFrame:")
print(normalized_df)

Normalized DataFrame:
      0     1     2     3     4     5     6     7     8     9
0  0.12 -0.95  1.54 -1.87  0.84 -1.25  0.55  0.31 -0.99 -1.18
1  1.88  0.79 -0.82 -1.16 -0.10 -0.66 -1.14  0.84 -1.14 -0.27
2 -0.24 -0.89  0.75  0.75  1.29  1.97  0.96  1.15  1.17 -0.78
3 -1.14 -1.09  1.22  0.44 -1.15  0.80 -1.61 -1.37  0.37  1.52
4 -1.18  1.29 -0.57 -0.18  0.73 -0.27  0.33 -1.29  0.67 -0.51
5  0.66  0.38 -0.92  0.75 -1.08  0.25  0.46 -0.69  0.12  1.49
6  0.30  1.12 -0.49  0.57  0.58 -0.46  1.07  0.92 -1.27 -0.34
7 -0.42 -0.65 -0.71  0.70 -1.12 -0.38 -0.62  0.13  1.07  0.07

13. Use the Planets dataset (taught in Pandas 4 lecture regarding groupby), count discovered planets by method and by decade:
Note: all NaN will be replaced by 0.

In [19]:
import seaborn as sns
planets = sns.load_dataset('planets')

planets['decade'] = (planets['year'] // 10) * 10

result = planets.groupby(['method', 'decade']).size().unstack().fillna(0)

print(result)

decade                         1980  1990   2000   2010
method
Astrometry                      0.0   0.0    0.0    2.0
Eclipse Timing Variations       0.0   0.0    3.0    6.0
Imaging                         0.0   0.0   20.0   18.0
Microlensing                    0.0   0.0   10.0   13.0
Orbital Brightness Modulation   0.0   0.0    0.0    3.0
Pulsar Timing                   0.0   3.0    1.0    1.0
Pulsation Timing Variations     0.0   0.0    1.0    0.0
Radial Velocity                 1.0  28.0  309.0  215.0
Transit                         0.0   0.0   62.0  335.0
Transit Timing Variations       0.0   0.0    0.0    4.0